body{
  background-color: red;
}
.nuevo_comentario a{
  position: absolute;
  width: 114px;
  height: 32px;
  left: 940px;
  color: white;
  text-decoration: none;
}
.nuevo_comentario img{
  position: absolute;
  width: 32px;
  height: 32px;
  left: 950px;

}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index:100;
}
.overlay:target{
  visibility: visible;
  opacity: 1;
}

#popupBody{
  width: 36%;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 0 0 5px #CCC;
  background: #0D1117;;
  position: relative;
  margin: 10% auto;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  color: white;
}
#cerrar{
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  fotn-weight: bold;
  text-decoration: none;
  color: #F00;
}
#popupBody textarea{
  width: 430px;
  height: 126px;
  background-color: #161B22;
	border:1px solid #3366FF;
	border-left: 4px solid #3366FF;
  resize: none;
  color:white;

}
#popupBody button{
  border: none;
  background: #003488;
  color: white;
  font-size: 14px;
  padding: 10px 27px;
  text-align: center;
  cursor: pointer;
}
#popupBody button:hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,1), 0 17px 50px 0 rgba(0,0,0,0.4);
}
#popupBody img{
  width: 60px;
  height: 60px;

}
